<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8">
                <input type="text" class="form-control form-control-lg" [(ngModel)]="nombreImagen"  placeholder="Buscar imagen...">
            </div>
            <div class="col-lg-4">
                <div class="d-grid gap-2">
                    <button (click)="buscarImagen()" type="submit" class="btn btn-primary btn-lg">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
